:root{
    --color1: black;
    --color2: white;
    --color3: rgb(233, 0, 0);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background: var(--color2);
    font-family: 'inter', sans-serif; /*Coloca a fonte na pagina inteira*/
}
header{
    background: var(--color1);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}
header img{
    width: 120px;
    height: 120px;
    align-items: center;
}
nav ul li{
    text-decoration: none;
    display: inline;
    width: 120px;
    height: 30px;
    margin: 2px;
    padding: 1px 5px 1px 5px;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    color: var(--color2);
    font-size: 1.5rem;
}
nav ul li a:hover{
    color: var(--color3);
    text-decoration: underline;
}
.banner{
    display: flex;
    justify-content: center;
}
#banner{
    width: 100%;
    height: 600px;
}
.hist
{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px
}
.hist h1
{
    font-size: 2rem;
    font-weight: 900;
}
.hist h1 a
{
    font-size: 3.5rem;
}
.hist p
{
    font-size: 1.5rem;
    padding-top: 15px;
    text-align: justify;
    padding-bottom: 15px;
}
.estrutura{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px
}
.estrutura h1
{
    font-size: 2rem;
    font-weight: 900;
}
.estrutura h1 a
{
    font-size: 3.5rem;
}
.estrutura p
{
    font-size: 1.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: justify;
}
hr{
    margin: auto;
    width: 90vw;
}
.textos img{
    float: right;
    width: 700px;
    padding-left: 50px;

}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color1);
}
footer h1{
    color: var(--color3);
    font-size: 5.5rem;
    font-weight: 900;
}

.info{
    padding-left: 70px;
    padding-bottom: 50px;
}
.info p {
    color: var(--color2);
    font-size: 1.25rem;

}
.footerNav{
    display: flex;
    justify-content: space-between;
    padding-right: 7%;
}
.footerNav img{
    width: 70px;
    height: 70px;
}

/*Responsividade*/
@media(max-width:768px)
{
    #banner{
        width: 100%;
        height: 350px;
    }
    .estrutura{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .estrutura img{
        width: 100%;
        height: 300px;
        padding-bottom: 30px;
        padding: 0px;
    }
    .footerNav{
        display: flex;
        justify-content: space-between;
        padding-right: 0px;
    }
    .info{
        padding-left: 30px;
        padding-bottom: 50px;
    }
}
